{% extends 'base.html.twig' %}

{# Récupération de l'URL #}
{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% block body %}
    <div class="ui container mt-5">
        <div class="ui piled segment">

            <!-- Declaration des variables -->
            {% set firstName = '' %}
            {% set lastName = '' %}
            {% set email = '' %}
            {% set location = '' %}
            {% set age = 35 %}

            <!-- Identification du type de l'action (création ou modification) -->
            {% if currentPath == '/user/new' %}
                <h1>Créer un utilisateur des utilisateurs</h1>
                {% set url = '/user/new' %}
            {% else %}
                <h1>Modifier {{ user.firstName }} {{ user.lastName }}</h1>
                {% set url = '/user/' ~ user.id %}
                {% set firstName = user.firstName %}
                {% set lastName = user.lastName %}
                {% set email = user.email %}
                {% set location = user.location %}
                {% set age = user.age %}
            {% endif %}

            <!-- Création du formulaire -->
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
